<!DOCTYPE html>
<html {# prefix="og: http://ogp.me/ns#" #}>
    <head>
        <!-- COMMON -->
        <title>{{meta.name}}</title>
        <link rel='icon' href='{{meta.icon}}'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <!-- STYLES -->
        {% block css %}
        {% endblock %}
        <!-- SCRIPTS -->
        <script src="/scripts/util.js"></script>
        {% block js %}
        {% endblock %}
        <!-- Search Engine -->
        <meta name="description" content="{{meta.description}}">
        <meta name="image" content="{{meta.icon}}">
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="{{meta.name}}">
        <meta itemprop="description" content="{{meta.description}}">
        <meta itemprop="image" content="{{meta.icon}}">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{meta.name}}">
        <meta name="twitter:description" content="{{meta.description}}">
        <meta name="twitter:image:src" content="{{meta.icon}}">
        <meta name="twitter:creator" content="dusterthefirst">
        <!-- Open Graph general (Discord) -->
        <meta property="og:url" content="{{meta.url}}">
        <meta property="og:site_name" content="{{meta.name}}">
        <meta property="og:title" content="{{meta.name}}">
        <meta property="og:description" content="{{meta.description}}">
        <meta property="og:image" content="{{meta.icon}}">
        <meta property="og:locale" content="en_US">
        {# <meta property="og:type" content="website"> #}
        {{hotreload | safe}}
    </head>
    <body>
        <header>
            h<br>
            e<br>
            a<br>
            d<br>
            e<br>
            r<br>
        </header>
        <div>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>