{# {{"<!--"}}{% include "LICENSE" %}{{"-->"}} #}
<!DOCTYPE html>
<html>
    <head>
        <!-- COMMON -->
        <title>{{meta.title}}</title>
        <link rel='icon' href='{{meta.icon}}'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <!-- STYLES -->
        {% block css %}
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/stylesm.css" media="only screen and (max-width: 768px)">
        {% endblock %}
        <!-- SCRIPTS -->
        <script src="/globals/util.js"></script>
        {% block js %}
        <script src="scripts.js"></script>
        {% endblock %}
        <!-- Search Engine -->
        <meta name="description" content="{{meta.description}}">
        <meta name="image" content="{{meta.icon}}">
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="{{meta.name}}">
        <meta itemprop="description" content="{{meta.description}}">
        <meta itemprop="image" content="{{meta.icon}}">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{meta.title}}">
        <meta name="twitter:description" content="{{meta.description}}">
        <meta name="twitter:image:src" content="{{meta.icon}}">
        <!-- Open Graph general (Discord) -->
        <meta name="og:title" content="{{meta.title}}">
        <meta name="og:description" content="{{meta.description}}">
        <meta name="og:image" content="{{meta.description}}">
        <meta name="og:url" content="{{meta.url}}">
        <meta name="og:site_name" content="{{meta.title}}">
        <meta name="og:locale" content="en_US">
        <meta name="og:type" content="website">
    </head>
    <body>
        {{"jeff" | capitalize}}
        {# {% %} #}
        <pre><code>{{meta | dump(4)}}</code></pre>
        <h1>{{meta.name}}</h1>
        <h2>{{meta.description}}</h2>
    </body>
</html>