{% extends "_template.njk" %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block body %}
b<br>
o<br>
d<br>
y<br>
<a href="/">go in circles</a>
<pre>
    <code>
{{ user | dump(4)}}
    </code>
</pre>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
o
{% endblock %}